# <center>Titanic Survival Prediction Case Study<center>

**Importing Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

**Loading Dataset**

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Checking shape of dataset**

In [3]:
df.shape

(889, 12)

**Checking Null Values**

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

<li>As the total 891 rows , In 'Cabin' there are more than 70% data is missing , so it is irrelevant to fill it</li>
<li>Drop Cabin column</li>

In [6]:
df.pop('Cabin')

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
884     NaN
885     B42
886     NaN
887    C148
888     NaN
Name: Cabin, Length: 889, dtype: object

In [7]:
df.shape

(889, 11)

**Filling Missing Values**

In [8]:
df['Age'].fillna(df['Age'].mean(), inplace= True)

<li>Embarked column is categorical so calculating the mode and filling it</li>

In [9]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

<li>We observe that max people are from S-southampton so we fill all with S</li>

In [10]:
df["Embarked"].fillna(value='S',inplace=True)

<li>Now checking missing values</li>

In [11]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

<li>All missing values are filled now ,</li>

## Droping Irrelevent columns<br>
<li>As the name column contain different name and the survival is not relevant to names</li>
<li>passenger Id does not make any sense</li>
<li>Ticket number doesnt provide any relevant information whether they survived or not so drop it</li>

In [13]:
df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)

In [14]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

<li>Now data only conatin relevant columns</li>

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.7+ KB

## Changing Text data to Categorical<br>
<li>Label Encoding it encode the value as per given instance</li>
<li>Eg- columns has 3 category C/S/Q--it will form label suppose 0-C, 1-S, 2-Q</li>

In [17]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()

df["Sex"] = lab.fit_transform(df["Sex"])
df["Embarked"] = lab.fit_transform(df["Embarked"])

In [18]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

# <center>Naive Bayes</center>

**Importing modules**

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import * 
from sklearn.metrics import accuracy_score, confusion_matrix

## Training & Predicting Accuracy, Confusion Matrix of the model using Naive Bayes<br>
<li>Naive Bayes is used to classify Record with the help of Probability</li>
<li>As we Know, Naive Bayes is only applicable for Categorical variables.</li>
<li>Only for Categorical Variables we are predicting Accuracy and Confusion Matrix :</li>
<li>Categorical Columns are: Survived, Pclass, Sex, SibSp, Parch, Embarked</li>

**<li>By Using Function:</li>**

In [21]:
def prediction(col):
    
    clf = BernoulliNB()

    for i in col:
        x = df.drop([i], axis=1)
        print("--------------------------------------------------------------------------------------")
        print(f"Here Dependent Variable is {i} & remaining are Independent Variables")
        print("x :\n", x.head())
        y = df[i]
        print("\ny:\n", y.head())
    
        x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=0)
        model = clf.fit(x_train,y_train)
        pred = model.predict(x_test)
    
        print(f"\nAcuuracy for {i} is: ", accuracy_score(y_test, pred, normalize=True))
        print(f"Confusion matrix for {i} is \n", confusion_matrix(y_test, pred))

column = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']        
prediction(column)

--------------------------------------------------------------------------------------
Here Dependent Variable is Survived & remaining are Independent Variables
x :
    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

y:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Acuuracy for Survived is:  0.7715355805243446
Confusion matrix for Survived is
 [[131  26]
 [ 35  75]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Pclass & remaining are Independent Variables
x :
    Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         1    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         0    1  35.0      0      0   8.0500         2

y:
 0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Acuuracy for Pclass is:  0.5917602996254682
Confusion matrix for Pclass is
 [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Sex & remaining are Independent Variables
x :
    Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
0         0       3  22.0      1      0   7.2500         2
1         1       1  38.0      1      0  71.2833         0
2         1       3  26.0      0      0   7.9250         2
3         1       1  35.0      1      0  53.1000         2
4         0       3  35.0      0      0   8.0500         2

y:
 0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int32

Acuuracy for Sex is:  0.7453183520599251
Confusion matrix for Sex is
 [[ 49  49]
 [ 19 150]]
--------------------------------------------------------------------------------------
Here Dependent Variable is SibSp & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  Parch     Fare  Embarked
0         0       3    1  22.0      0   7.2500         2
1         1       1    0  38.0      0  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      0  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Acuuracy for SibSp is:  0.6891385767790262
Confusion matrix for SibSp is
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Parch & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0         0       3    1  22.0      1   7.2500         2
1         1       1    0  38.0      1  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      1  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Acuuracy for Parch is:  0.7153558052434457
Confusion matrix for Parch is
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Embarked & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

y:
 0    2
1    0
2    2
3    2
4    2
Name: Embarked, dtype: int32

Acuuracy for Embarked is:  0.7340823970037453
Confusion matrix for Embarked is
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]

# Resultant Accuracy Score

In [22]:
score = {'Dependent Variable': ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked'],
         'Accuracy Score': [0.7835,0.5932,0.7835,0.6791,0.7425,0.6977],
         'Total ':[268,268,268,268,268,268],
         'Correct Prediction':[210,159,210,182,199,187],
         'Incorrect Prediction':[58,109,58,86,69,81]}
score = pd.DataFrame(score)
score

,Dependent Variable,Accuracy Score,Total,Correct Prediction,Incorrect Prediction
0,Survived,0.7835,268,210,58
1,Pclass,0.5932,268,159,109
2,Sex,0.7835,268,210,58
3,SibSp,0.6791,268,182,86
4,Parch,0.7425,268,199,69
5,Embarked,0.6977,268,187,81

## Conclusion:<br><br>
<li>The Survived Column and Gender column has same accuracy score</li>
<li>Pclass has the least accuracy<li>